* {
  font-family: soleil, sans-serif;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  --navbarheight: 74px;
  --slides: 3;
  --bullet-width: 16px;
  --bullet-pos: var(--bullet-width);
  --bullet-margin: 4px;
  --shade: rgba(0, 0, 0, 0.302);
  /* farger */
  --cobalt-blue: #2a44a2ff;
  --bluetiful: #2066e9ff;
  --fluorescent-blue: #00f5e9ff;
  --dark-pastel-green: #35c045ff;
  --white: #ffffffff;
  --rusty-red: #da2f43ff;
  --jonquil: #e5c224ff;
  --mulberry-crayola: #c45aa9ff;
  --purple-navy: #5e548cff;
}

html {
  scroll-padding-top: var(--navbarheight);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bodybackground);
}

.default {
  --text-color: #000000;
  --background: #ffffff;
  --bodybackground: #f7f7f7;
  --neutral: #a7a7a74d;
  --navhover: #242424;
  --invert: 0%;
  --light-text: rgba(0, 0, 0, 0.7);
  --footer-color: #f5f5f5;
  --input-background: #0000004d;
  --card-background: #ebebeb;
}

.dark {
  --text-color: #ffffff;
  --background: #141945;
  --bodybackground: #000000;
  --neutral: #e5e5e54d;
  --navhover: #bdbdbd;
  --invert: 100%;
  --light-text: rgba(255, 255, 255, 0.7);
  --footer-color: #0a0d27;
  --input-background: #ffffff80;
  --card-background: var(--cobalt-blue);
}

a {
  text-decoration: none;
}

.hero {
  padding-top: calc(var(--navbarheight) + 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--background);
}

.container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 12px;
}

.navbar {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  /* max-width: 1200px; */
  margin-right: auto;
  margin-left: auto;
  min-width: 700px;
  border-bottom: 1px solid #d4d4d4;
  background: var(--background);
  z-index: 400;
  margin-right: auto;
  margin-left: auto;
}

nav {
  width: 100%;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: var(--text-color);
}

.logo {
  display: inline-block;
  background-size: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--text-color);
}

.nav-item:hover a {
  color: var(--navhover);
}

.logo img {
  background-position: 0 -39px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  filter: invert(var(--invert));
  width: 160px;
  height: 40px;
}

#login-button a {
  background-color: var(--neutral);
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px;
  outline: none;
}

#search-bar {
  padding: 5px 15px;
  margin: 10px;
  border: none;
  background-color: var(--neutral);
  outline: none;
  border-radius: 15px;
}

#search-bar::placeholder {
  color: var(--text-color);
}

#toggle-theme {
  padding: 3px 15px;
  line-height: 20px;
  margin: 10px;
  border-radius: 4px;
  border: none;
  background-color: var(--text-color);
  color: var(--background);
  outline: none;
  cursor: pointer;
}
/* top av side */
.header {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  margin-right: 120px;
}

.header > h1 {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 72px;
  line-height: 1em;
  color: var(--text-color);
}

.header > h2 {
  font-size: large;
  color: var(--light-text);
}

h1 strong {
  position: relative;
}

h1 strong::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 3px;
}
h1 strong[color="green"]::after {
  background: var(--dark-pastel-green);
}

h1 strong[color="yellow"]::after {
  background: var(--jonquil);
}

h1 strong[color="red"]::after {
  background: var(--rusty-red);
}

h1 strong[color="blue"]::after {
  background: var(--bluetiful);
}

.hero h2,
.hero h1 {
  margin-bottom: 30px;
}

.hero .btn:hover {
  opacity: 0.8;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  margin-bottom: 50px;
  background: var(--text-color);
  border-radius: 7px;
  color: var(--background);
  font-size: 16px;
  font-weight: 600;
  transition: opacity 100ms linear;
}

.divider {
  width: 960px;
  height: 1px;
  margin: 140px 0px;
  background: var(--light-text);
}

/* bildehjul */
.bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
}

.bullet {
  display: inline-block;
  width: var(--bullet-width);
  height: var(--bullet-width);
  margin-left: var(--bullet-margin) / 2;
  margin-right: var(--bullet-margin) / 2;
  border-radius: 50%;
  border: solid 2px white;
  box-sizing: border-box;
}

.bullet .bullet01 {
  background: white;
}

*:target ~ .bullets .bullet01 {
  background: transparent;
}

#target-slide01:target ~ .bullets .bullet01 {
  background: white;
}
#target-slide02:target ~ .bullets .bullet02 {
  background: white;
}
#target-slide03:target ~ .bullets .bullet03 {
  background: white;
}

.carousel {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  background: var(--background);
}

.carousel:before {
  content: "";
  display: block;
  padding-bottom: 45%;
}

.carousel > span {
  position: absolute;
  bottom: calc(100% + 10vh);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 0.8s;
}

.slide #slide01 {
  opacity: 1;
  z-index: 2;
}

#slide01 {
  background-image: url("../Pictures/Front-end.jpg");
  object-fit: cover;
}
#slide02 {
  background-image: url("../Pictures/javascript.jpg");
  object-fit: cover;
}
#slide03 {
  background-image: url("../Pictures/python2.jpg");
  object-fit: cover;
}

.slide-nav {
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  padding: 5px 15px;
  text-align: left;
  font-size: 5em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transform: translateY(-50%);
}

.slide-nav--next {
  left: auto;
  right: 20px;
}

*:target ~ #slide01 {
  opacity: 0;
  z-index: 1;
}

#target-slide01:target ~ #slide01 {
  opacity: 1;
  z-index: 2;
}
#target-slide02:target ~ #slide02 {
  opacity: 1;
  z-index: 2;
}
#target-slide03:target ~ #slide03 {
  opacity: 1;
  z-index: 2;
}

/* liste med info og skrive effekt */
.list {
  margin: 150px 0px 200px;
}

.list h1,
.list h2 {
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--light-text);
  width: 300px;
}

.box img {
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 150px;
}
.box p,
.box h2 {
  margin: 5px 20px;
}

/* kort / artikler */
.card-title {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.card-title h1 {
  color: var(--text-color);
  margin: 0px 0px;
}

.card-title h4 {
  margin: 0px 0px;
  color: var(--light-text);
}

.card-list {
  display: flex;
  align-items: stretch;
  padding: 50px 160px 100px;
}

.card {
  height: auto;
  width: 250px;
  padding: 20px;
  border-radius: 18px;
  background: var(--card-background);
  box-shadow: -20px 0px 40px -20px var(--shade);
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  position: relative;
}

.card img {
  height: 175px;
  width: 100%;
  border-radius: 16px;
  filter: contrast(110%);
  object-fit: cover;
}

.card:hover ~ .card {
  transform: translateX(100px);
}

.card:hover {
  transform: translateY(-1rem);
}

.card-list .card:not(:first-child) {
  margin-left: -140px;
}

time {
  font-size: 14px;
  color: var(--light-text);
}

/* tittel */
.card h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: var(--text-color);
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.card h2:hover {
  background: linear-gradient(
    to right,
    var(--dark-pastel-green),
    var(--jonquil)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.card-info {
  color: var(--light-text);
}

.tags {
  margin: 0, 5rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tag {
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  color: var(--light-text);
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid var(--light-text);
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(
    to left,
    var(--dark-pastel-green),
    var(--jonquil)
  );
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: var(--bluetiful);
}

/* 























*/
/* Footer */
.footer {
  --footer-width: 100%;
  padding-top: 10px;
  border-top: 2px var(--text-color) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: var(--footer-width);
  padding-left: calc((100% - var(--footer-width)) / 2);
  padding-right: calc((100% - var(--footer-width)) / 2);
  background-color: var(--footer-color);
}

/* breadcrumb */
.breadcrumb {
  align-self: flex-start;
  list-style-type: none;
  display: flex;
  margin: 10px 30px;
}

.breadcrumb * {
  color: var(--light-text);
}

.breadcrumb li:hover {
  opacity: 0.5;
}

.breadcrumb > * + *::before {
  content: "➔";
  padding: 0 16px;
}

.upperfoot {
  width: 325px;
  flex-direction: column;
  color: var(--light-text);
}

.upperfoot > p {
  font-size: larger;
}

.upperfoot > h2 {
  margin-bottom: 20px;
}

.contact-info {
  margin-bottom: 10px;
  font-weight: 400;
}

/* email felt */
.upperfoot > input {
  margin-top: 30px;
  width: 300px;
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  background: var(--neutral);
  padding: 1em 2em;
  outline: none;
  border: none;
  color: var(--light-text);
  transition: 0.3s linear;
}
::placeholder {
  color: var(--light-text);
}

.upperfoot > input:focus {
  background: var(--input-background);
  color: var(--text-color);
}

/* Subscribe knapp */
.upperfoot > button {
  background-image: linear-gradient(
    to left,
    var(--cobalt-blue) 0%,
    var(--fluorescent-blue) 100%
  );
  margin-top: 30px;
  padding: 0.5em 2em;
  border-radius: 7px;
  font-size: 1.4em;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.3em;
  outline: none;
  border: none;
  transition: 0.3s linear;
}
.upperfoot > button:hover {
  transform: translatey(2px);
}
.upperfoot > button:active {
  transform: translatey(5px);
}

.footer-divider {
  width: 960px;
  height: 1px;
  margin: 10px 0;
  background: var(--light-text);
}

/* copyright sosialmedier support*/
.lowerfoot {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: small;
}

.lowerfoot > div {
  color: var(--light-text);
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.lowerfoot a {
  color: var(--light-text);
  margin: 0 10px;
}
.lowerfoot a:hover {
  opacity: 0.5;
}

.lowerfoot img {
  display: inline-block;
  filter: invert(var(--invert));
  height: 30px;
}

/* back to top knapp*/
.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  font-family: "unicons";
  content: "\e84b";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  top: 0;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  color: var(--light-text);
}

/* mer responsiv*/
.progress-wrap:hover::after {
  opacity: 0;
}

/* sikrer form til utklipp bakgrunnsfarge */
.progress-wrap::before {
  position: absolute;
  font-family: "unicons";
  content: "\e84b";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  background-image: linear-gradient(
    319deg,
    #118ab2 0%,
    #06d6a0 37%,
    #ffd166 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}
/* hindrer inside å bli fylt svart */
.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: var(--light-text);
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
